/*mobile first*/

body {
    margin: 0;
    padding: 0;
    appearance: none;
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;
} 

/*section classes*/

.content {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.sidebar {
    background-image: url("images/pexels-matheus-bertelli-799443.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 20vh;
    width: 100%;
}

.logo {
    background-color: rgba(160, 160, 160, 0.2);
    text-align: center;
    width: 100%;
}

.main {
    display: flex;
    padding: 50px 0px 0px 0px;
    flex-direction: column;
    background-color: rgba(160, 160, 160, 0.2);
}

.speaker {
    padding: 0px 20px 20px 20px;
    font-size: 20px;
}

/*form-specific styling*/

input {
    outline: none;
    height: 30px;
    border-radius: 10px;
    border: 2px solid lightgray;
}

input:focus:valid {
    border: 2px solid blue;

}
input:hover {
    border: 2px solid black;

}

input:focus:invalid {
    border: 2px solid red;

}

label {
    color: gray;
    padding-bottom: 4px;
}

.inputs {
    background-color: white;
    box-shadow: 5px 5px lightgray;
    max-width: 100%;
    padding: 10px 20px 20px 20px;
}

.input-grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 2fr;
    gap: 20px;
}

.form-item {
    font-size: 17px;
    display: flex;
    flex-direction: column;
}

.form-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 20px 20px;
}
 
button {
    width: 200px;
    height: 50px;
    background-color: green;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 5px 5px lightgray;
}

@media only screen and (min-width: 800px) {
    .content {
        flex-direction: row;
    }

    .sidebar {
        background-image: url("images/pexels-matheus-bertelli-799443.jpg");
        color: white;
        height: 110vh;
        justify-content: flex-start;
        align-items: flex-start;
        width: 30%;
    }

    .logo {
        margin-top: 80px;
    }

    .main {
        padding: 150px 0px 0px 0px;
        flex-grow: 1;
    }

    .speaker {
        margin-bottom: 30px;
    }

    .inputs {
        padding: 10px 20px 50px 20px;
    }

    .input-grid {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 2fr 2fr;
        gap: 20px;
    }

   

    .form-bottom {
        margin-top: 30px;
    }



} 